.ingresar{
display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
}
.subtitulo-ingreso{
    margin: auto;
}
.boton-ingresar{
    width: fit-content;
    margin: 9px auto;
    border-radius: 25px;
    font-size: 1.2vw;
    transition: transform 0.1s linear;
    text-transform: uppercase;
    font-weight: 600;
    color: white;
    background-color: $celeste;
    padding: 0.8vh;
    &:hover{
        background-color: $celeste2;
    }
}

#inicio-dialog{
    margin: auto;
    width: 30vw;
    height: 10vw;
    border-radius: 25px;
    &::backdrop{
        background-color: rgba(0,0,0,.55);
    }
}
#inicio-formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.inicio-form-hijo{
    padding: 10px;
    font-size:24px;
    font-weight: 600;

}
.inicio-form-bot{
    font-size: 23px;
    background-color: $celeste;
    font-weight: 700;
    color: white;
    border-radius: 5px;
    &:hover{
        background-color: $celeste2;
    }
}
.inicio-input{
    font-size: 24px;
}