.pago-realizar-compra{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
}
.pago-realizar-compra p{
    font-size: 18px;
}
.pago-formulario{
    display: flex;
    flex-direction: column;
}

.pago-formularios p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto 0px auto;
}

.seleccion-tarjeta{
    font-size: 15px;
}
.pago-input{
    width: 1000px;
    max-width: 50%;
    font-size: 20px;
}
.pago-confirmar{
    margin: 0 auto;
}
.pago-confirmar p{
    font-size: 20px;
    margin: 10px 0;
}
.pago-confirmar button{
    font-size: 18px;
    background-color: $celeste;
    color: white;
    text-transform: uppercase;
    border: black solid 1px;
    border-radius: 25px;
    padding: 5px;

    &:hover{
        background-color: $celeste2;
    }
}
.producto-en-carrito{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.producto-en-carrito p{
    font-size: 18px;
}
.imagen-producto-en-carrito{
    width: 4vw;
    height: auto;
    margin-right: 1vw;
}
#total-a-pagar{
    font-size: 21px;
    font-weight: 700;
    padding: 3px 0 5px 0;
}
.micarrito-subtitulo{
    font-size: 27px;
    padding-bottom: 7px;
}
.titulo-pago{
    font-size: 30px;
    font-weight: 800;
    padding: 10px 0 10px 10px;
}